sudo: false
language: php

services:
  - mysql

addons:
  code_climate:
    repo_token: a06ebc5fe1cb63a941c11fcd67bd2ad89c5547b7998d2667eaca65627e9af442

matrix:
  fast_finish: true
  include:
    - php: 5.6
      env:
        - SYMFONY_VERSION=2.8.*
        - DB=mysql
    - php: 5.6
      env:
        - SYMFONY_VERSION=3.2.*
        - DB=mysql
    - php: 7.1
      env:
        - SYMFONY_VERSION=3.2.*
        - DB=mysql

before_script:
  - if [ "$SYMFONY_VERSION" != "" ]; then composer require "symfony/symfony:${SYMFONY_VERSION}" --no-update; fi;
  - composer update --prefer-source --no-interaction
  - mkdir -p ./build/logs

script:
  - ./vendor/bin/phpunit -v -c tests/travis/$DB.travis.xml --coverage-clover ./build/logs/clover.xml

after_success:
  - ./vendor/bin/test-reporter